.container {
    margin-top: 50px;
  }
  
  
  #form {
    border-left: 1px solid #9c9494;
  }
  
  
  .validation {
    text-align: center;
  }
  
  #corps {
    width: 950px;
    margin: 50px auto;
    background-color: rgba(90, 86, 86, 0.219);
    padding: 20px;
  }
  
  td img {
    width: 20px;
  }
  
  .card {
    margin-bottom: 1rem;
    width: 300px;
    position: relative;
  }
  
  .card-body {
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .card-text {
    margin-bottom: 0.5rem;
  }
  