<%- include('layouts/header') %>

    <div class="container">
        <div class="h1 text-center align-middle bg-secondary text-light p-5">
            <%= message %> yes
        </div>
    </div>

    <%- include('layouts/footer') %>